.first-row {
		display: flex;	
		align-items: center;
		justify-content: space-around;
	    gap: 10px;
}

.second-row {
		display: flex;	
		align-items: center;
	    justify-content: space-around;
	    gap: 10px;
}

.third-row {
		display: flex;	
		align-items: center;
	    justify-content: space-around;
	    gap: 10px;
}

.fourth-row {
		display: flex;	
		align-items: center;
	    justify-content: space-around;
	    gap: 10px;
}